<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
<head>
    <title>Homepage</title>
    <link rel="icon" href="../../public/icon/website.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>

<body>
<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-name">
            <a href="homepage.ejs">OurCodes</a>
        </div>

        <img src="../../public/img/avatar/avatar3.png" class="avatar" alt="">
        <div class="nav-sign">
            <div class="nav-menu"><a class="nav-sign" href="../pages/signup.html">Sign up</a></div>
            <div class="nav-slash">/</div>
            <div class="nav-menu"><a class="nav-sign" href="../pages/signin.html">Sign in</a></div>
        </div>
        <!--Can be replaced after login-->
        <div class="nav-username">
            <span>Please sign in</span>
        </div>


        <!--click these two buttons show and hide a div of contents-->


        <div class="nav-bottom">
            <div class="nav-circle">
                <img src="../../public/icon/folder-fff.png" class="circle-icon" id="project-list"
                     onmouseover="this.src='../../public/icon/folder-4abdac.png'"
                     onmouseout="this.src='../../public/icon/folder-fff.png'">
                <!--怎么可以一起变呀？-->
            </div>
            <div class="nav-circle">
                <img src="../../public/icon/participant-fff.png" class="circle-icon" id="participant-list"
                     onmouseover="this.src='../../public/icon/participant-4abdac.png'"
                     onmouseout="this.src='../../public/icon/participant-fff.png'">
            </div>
            <div class="nav-bo">
                <img class="nav-icon" onclick="javascript:location.href='setting.html'"
                     src="../../public/icon/settings-fff.png"
                     onmouseover="this.src='../../public/icon/settings-e6e6e6.png'"
                     onmouseout="this.src='../../public/icon/settings-fff.png'"/>
            </div>
        </div>


    </div>
</nav>

<div class="block-6">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Create Room</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9" style="margin-left: 100px;">
                <form class="form" action="##" method="post" id="createroom">
                    <div class="form-group">
                        <div class="col-xs-9">
                            <label for="first_name"><h4>Name</h4></label>
                            <input type="text" class="form-control" name="first_name" id="first_name"
                                   placeholder="Coderoom name" title="enter your first name if any.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9">
                            <label for="shortdes"><h4>Short description</h4></label>
                            <textarea class="form-control" name="shortdes" id="shortdes" title="enter your description if any."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9">
                            <label for="codes"><h4>Codes</h4></label>
                            <textarea class="form-control" name="codes" id="codes" title="enter your codes if any."></textarea>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
</body>
</html>