
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <style type="text/css">
        .tooltip {
            width:219px;
            height:33px;
        }
        .tooltip a {
            width:219px;
            height:33px;
            display:block;
        }
    </style>
    <script type="text/javascript">
        select(document, tanchu);
		function select(o, fn){ 
			o.onmouseup = function(e){ 
			var event = window.event || e; 
			var target = event.srcElement ? event.srcElement : event.target; 
			if (/input|textarea/i.test(target.tagName) && /firefox/i.test(navigator.userAgent)) { 
				//Firefox choose in textarea
				var staIndex=target.selectionStart; 
				var endIndex=target.selectionEnd; 
				if(staIndex!=endIndex){ 
					var sText=target.value.substring(staIndex,endIndex); 
					fn(sText,target); 
				} 
			} 
			else{ 
				//get choosen
				var sText = document.selection == undefined ? document.getSelection().toString():document.selection.createRange().text; 
				if (sText != "") { 
					//return parameters into fn
					fn(sText, target); 
				} 
			} 
			} 
		}
		function tanchu(txt,tar){ 
			alert("This is belong to"+tar.tagName+"elements，choose："+txt);
		} 
    </script>
</head>
<body>
	<textarea cols="60" rows="8">
	asp、php、asp.net、javascript、jquery、vbscript、dos
	</textarea>
	
</body>
</html>
