<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
	<head>
	<title>Classroom</title>
	<link rel="stylesheet" href="../../public/stylesheets/style.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

	</head>
	<script>
	$(document).ready(function(){
	  $("#click_btn").click(function(){
	    $("#hello").html("hello，xxx");
	  });
	});
	</script>
	<body>

		<nav class="nav-bar">
			<div class="nav-container">
				<div class="nav-name">
					<a href="../pages/homepage.html">OurCodes</a>
				</div>
				
				<img src="../../public/img/avatar/avatar3.png" class="avatar"  alt="">
				<!--Can be replaced after login-->
				<div class="nav-username">
					<span>Please sign in</span>
				</div>

				<div class="nav-follow">
					<div class="nav-f">
						<a href="follow.html">Following</a>
					</div>
					<div class="nav-f">
						<a href="follow.html">Follower</a>
					</div>
				</div>
                <div class="nav-circle">
                    <img src="../../public/icon/folder.png" id="project-list" class="circle-icon">
                </div>

                <div class="nav-circle">
                    <img src="../../public/icon/participant.png" class="circle-icon" id="participant-list">
                </div>
				
				<div class="nav-bottom">
					<div class="nav-bo">
						<img class="nav-icon" onclick="javascript:location.href='search.html'" src="../../public/icon/search-fff.png"
						onmouseover="this.src='../../public/icon/search-e6e6e6.png'"
						onmouseout="this.src='../../public/icon/search-fff.png'"/>
					</div>
					<div class="nav-bo">
						<img class="nav-icon" onclick="javascript:location.href='setting.html'" src="../../public/icon/settings-fff.png"
						onmouseover="this.src='../../public/icon/settings-e6e6e6.png'"
						onmouseout="this.src='../../public/icon/settings-fff.png'"/>
					</div>
				</div>
				<div class="nav-sign">
					<div class="nav-menu"><a class="nav-sign" href="../pages/signup.html">Sign up</a></div>
					<div class="nav-slash">/</div>
					<div class="nav-menu"><a class="nav-sign" href="../pages/signin.html">Sign in</a></div>
				</div>
				
			</div>
		</nav>

		<div class="block-1">
			<div class="b1-main">
				
			</div>
			<div class="b1-result">
				
			</div>
		</div>

		<div class="block-2">
			<div class="b2-review">
				
			</div>
		</div>
	</body>
</html>